<div class="container pt-5">
    <div class="row my-5 mx-1 m-md-5 gap-3">
        <div class="d-flex justify-content-between" style="padding: 0px;">
            <h3>Last 3 biceps and triceps workout routines</h3>
            <button class="btn btn-dark" >New Workout</button>
        </div>
        <div class="card">
            <div class="card-header test fw-bold text-center p-2">
                04.10.2022
            </div>
            <table class="table table-hover p-2">
                <thead>
                    <tr class="table-dark">
                        <th class="fw-bold" scope="row">Excersize name</th>
                        <td class="fw-bold">1st set kg/reps</td>
                        <td class="fw-bold">2nd set kg/reps</td>
                        <td class="fw-bold">3rd set kg/reps</td>
                      </tr>
                </thead>
                <tbody>
                    <tr>
                      <th scope="row">Biceps bar curl</th>
                      <td>25/12</td>
                      <td>27.5/10</td>
                      <td>30/8</td>
                    </tr>
                    <tr>
                        <th scope="row">Biceps DB curl</th>
                        <td>11/24</td>
                        <td>12.5/20</td>
                        <td>15/20</td>
                      </tr>
                      <tr>
                        <th scope="row">1 DB raise</th>
                        <td>17.5/12</td>
                        <td>20/10</td>
                        <td>22.5/10</td>
                      </tr>
                      <tr>
                        <th scope="row">Bench DB kickback</th>
                        <td>7/12</td>
                        <td>7/10</td>
                        <td>9/8</td>
                      </tr>
                      <tr>
                        <th scope="row">Skull crusher</th>
                        <td>12.5/12</td>
                        <td>15/10</td>
                        <td>17.5/10</td>
                      </tr>
                      <tr>
                        <th scope="row">Wrist flexion</th>
                        <td>7/24</td>
                        <td>7/20</td>
                        <td>7/16</td>
                      </tr>
                </tbody>
              </table>
          </div>
          <div class="card">
            <div class="card-header test fw-bold text-center p-2">
                04.10.2022
            </div>
            <table class="table table-hover p-2">
                <thead>
                    <tr class="table-dark">
                        <th scope="row">Excersize name</th>
                        <td>1st set kg/reps</td>
                        <td>2nd set kg/reps</td>
                        <td>3rd set kg/reps</td>
                      </tr>
                </thead>
                <tbody>
                    <tr>
                      <th scope="row">Biceps bar curl</th>
                      <td>25/12</td>
                      <td>27.5/10</td>
                      <td>30/8</td>
                    </tr>
                    <tr>
                        <th scope="row">Biceps DB curl</th>
                        <td>11/24</td>
                        <td>12.5/20</td>
                        <td>15/20</td>
                      </tr>
                      <tr>
                        <th scope="row">1 DB raise</th>
                        <td>17.5/12</td>
                        <td>20/10</td>
                        <td>22.5/10</td>
                      </tr>
                      <tr>
                        <th scope="row">Bench DB kickback</th>
                        <td>7/12</td>
                        <td>7/10</td>
                        <td>9/8</td>
                      </tr>
                      <tr>
                        <th scope="row">Skull crusher</th>
                        <td>12.5/12</td>
                        <td>15/10</td>
                        <td>17.5/10</td>
                      </tr>
                      <tr>
                        <th scope="row">Wrist flexion</th>
                        <td>7/24</td>
                        <td>7/20</td>
                        <td>7/16</td>
                      </tr>
                </tbody>
              </table>
          </div>
          <div class="card">
            <div class="card-header test fw-bold text-center p-2">
                04.10.2022
            </div>
            <table class="table table-hover p-2">
                <thead>
                    <tr class="table-dark">
                        <th scope="row">Excersize name</th>
                        <td>1st set kg/reps</td>
                        <td>2nd set kg/reps</td>
                        <td>3rd set kg/reps</td>
                      </tr>
                </thead>
                <tbody>
                    <tr>
                      <th scope="row">Biceps bar curl</th>
                      <td>25/12</td>
                      <td>27.5/10</td>
                      <td>30/8</td>
                    </tr>
                    <tr>
                        <th scope="row">Biceps DB curl</th>
                        <td>11/24</td>
                        <td>12.5/20</td>
                        <td>15/20</td>
                      </tr>
                      <tr>
                        <th scope="row">1 DB raise</th>
                        <td>17.5/12</td>
                        <td>20/10</td>
                        <td>22.5/10</td>
                      </tr>
                      <tr>
                        <th scope="row">Bench DB kickback</th>
                        <td>7/12</td>
                        <td>7/10</td>
                        <td>9/8</td>
                      </tr>
                      <tr>
                        <th scope="row">Skull crusher</th>
                        <td>12.5/12</td>
                        <td>15/10</td>
                        <td>17.5/10</td>
                      </tr>
                      <tr>
                        <th scope="row">Wrist flexion</th>
                        <td>7/24</td>
                        <td>7/20</td>
                        <td>7/16</td>
                      </tr>
                </tbody>
              </table>
          </div>
    </div>
    <hr class="mx-5">
    <div class="row my-5 mx-1 m-md-5 gap-3">
        <div class="d-flex justify-content-between" style="padding: 0;">
            <h3>Last 3 chest and shoulders workout routines</h3>
            <button class="btn btn-dark">New Workout</button>
        </div>
          <div class="card" *ngFor="let workout of chestandShoulder">
            <div class="card-header test fw-bold text-center p-2">
                {{ workout.date }}
            </div>
            <table class="table table-hover p-2">
                <thead>
                    <tr class="table-dark">
                        <th scope="row">Exercise name</th>
                        <td>1st set kg/reps</td>
                        <td>2nd set kg/reps</td>
                        <td>3rd set kg/reps</td>
                      </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let set of workout.sets ">
                      <th scope="row">{{ set[0] }}</th>
                      <td>{{ set[1] }}</td>
                      <td>{{ set[2] }}</td>
                      <td>{{ set[3] }}</td>
                    </tr>
                </tbody>
              </table>
          </div>
    </div>
</div>