<div class="container-fluid my-md-5 py-md-5">
    <div class="row mt-lg-5 text-center">
        <div class="col-md-12 fw-bold fs-3">Daily trackers</div>
    </div>

    <div class="container">
      <div class="row d-flex justify-content-center">
          <div class="card">
              <img src="assets/images/weighing-tracker.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Weight tracker</h5>
                <p class="card-text">Consistent tracking of your weight helps you gain perspective over the efficiency of your weight loss efforts</p>
                <a routerLink="weight" class="btn btn-outline-warning">Start tracking</a>
              </div>
            </div>
            <div class="card">
              <img src="assets/images/calories-tracker.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Calories tracker</h5>
                <p class="card-text">Keep a history of the calories you take in eveyday and make long lasting changes, instead of drastic dieting</p>
                <a routerLink="calories" class="btn btn-outline-warning">Start tracking</a>
              </div>
            </div>
            <div class="card">
              <img src="assets/images/waist-measuring.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Waist tracker</h5>
                <p class="card-text">See the results of your fitness journey by having records of your past measurements. This helps you mind visualize the changes</p>
                <a routerLink="waist" class="btn btn-outline-warning">Start tracking</a>
              </div>
            </div>
      </div>
  </div>
</div>