/* Some resets */
body{
    margin: 0;
    padding: 0;
    width: 100%;
}

.container-fluid{
    margin: 0;
    padding: 0;
}

#prices{
    margin: 0;
}

/* Header styling */

#header-container{
    background-color: rgb(235,236,233);
    margin: 0;
    padding: 0;
}

/* Main section styling */

.main-section{
    margin: 0;
    padding: 0;
    width: 100%;
}

.title-section{
    padding-top: 100px; 
    background-color: rgb(235,236,233);
}

/* Push-up section */
.push-up-section{
    margin-top: 100px;
}

.push-up-about{
    border: 4px solid rgb(255, 136, 0);
    padding-bottom: 5%;
    margin-bottom: 100px; 
    margin-left: 200px; 
    padding-top: 100px;
}

.push-up-about > h2{
    margin-left: -150px; 
}

#push-up-image{
    margin-left: -70px;
}

/* Trackers section */

.trackers-overview{
    background-color:rgb(34, 34, 34); 
    color: white; 
    padding: 10% 0%;
    height: 100%;
}

.trackers-main-text{
    margin: 0;
    padding: 0;
    width: 100%;
}

.text-overlay{
    position: relative;
    width: 20%;
    height: 450px;
    margin: 0;
    padding: 0;
}

/* Trackers cards section */
.trackers-features{
    width: 100%;
    display: block;
    object-fit: cover;
    height: 100%;
    margin: 0px;
    padding: 0px;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}


.trackers-features:hover{
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: none ; /* IE6-9 */
    zoom:1; /* needed to trigger "hasLayout" in IE if no width or height is set */
    -webkit-filter: grayscale(0%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    }
    
.trackers-text{
    margin: 0% 6%;
}

.trackers-card-text{
    position: absolute;
    top: 80%;
    left: 0;
    margin: 0;
    padding: 0;
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    font-weight: bold;   
    width: 75%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Pricing plans section */
.main-text{
    text-align: center;
}

.card{
    border: 3px solid gray;
    border-radius: 0px;
}

.card-title{
    border: 2px solid gray;
    border-radius: 50%;
    margin: 26%;
    padding: 15px;
}

/* Footer section */

.footer{
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.footer h2{
    margin: 0;
}

/* Footer map styling */
.footer .iframe{
    border-top: 5px solid rgb(194, 103, 0);
}
 
.map{
    filter: grayscale(100%) invert(92%) contrast(100%);
    border:0; 
    margin: 0; 
    padding: 0;
}

/* Mobile device styling */
@media screen and (max-width: 750px) {
    .collapse {
        padding-top: 10%;
    }
    .title-section{
        padding: 20% 5%;
    }

    .push-up-section{
        margin-top: 0;
    }

    .push-up-about{
        padding: 35% 5%;
        margin-bottom: 0; 
        margin-left: 0; 
    }

    .push-up-about > h2{
        margin-left: 0;
    }

    .mobile-view-reset{
        display: flex;
        flex-direction: column;
        height: 100%;
        background-color:rgb(34, 34, 34); 
    }
    .text-overlay{
        width: 100%;
        margin-top: 10%;
    }

    .trackers-text{
        margin: 10% 3%;
    }

    .test p {
        font: 1rem;
    }

    #push-up-image{
        width: 350px;
    }
}

@media screen and (max-width: 1181px) and (min-width: 751px){
    .title-section{
        padding-bottom: 15%;
        padding: 15% 10%;
    }

    .push-up-about > h2{
        margin-left: 0;
    }

    .push-up-container{
        padding: 0% 5%;
    }

    .push-up-about{
        padding: 5%;
        margin-bottom: 100px; 
        margin-left: 0; 
        padding-top: 100px;
    }
    .mobile-view-reset{
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 100%;
        width: 100vw;
        background-color:rgb(34, 34, 34); 
        border: 0px;
        padding: 3% 0%;
    }

    .text-overlay{
        width: 40%;
        margin: 3%;
    }

    .trackers-text{
        margin: 0% 3%;
    }
}
   
