<div class="container">
    <div class="row">
        <div class="card">
            <img src="assets/images/calendar.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Daily tracker</h5>
              <p class="card-text">Take control of your fitness journey by tracking the most important metrics daily (calories, weight, waist)</p>
              <a routerLink="../weight-watcher" class="btn btn-outline-warning">See options</a>
            </div>
          </div>
          <div class="card">
            <img src="assets/images/training-tracker.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Training trackers</h5>
              <p class="card-text">Don't let your training go to waste. Keep track of the progress you make in the gym with our exercise trackers.</p>
              <a routerLink="../training-watcher" class="btn btn-outline-warning">See options</a>
            </div>
          </div>
    </div>
</div>