<div class="container">
    <div class="row">
        <div class="card" style="width: 18rem;">
            <img src="assets/images/shoulders.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Chest and Shoulders</h5>
              <p class="card-text">Monitor your progressive overload development by looking at the overview of your past three Chest and Shoulders workout routines and weights</p>
              <a routerLink="chest-shoulders" class="btn btn-outline-warning">See data</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="assets/images/biceps.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Biceps and Triceps</h5>
              <p class="card-text">Monitor your progressive overload development by looking at the overview of your past three Biceps and Triceps workout routines and weights</p>
              <a routerLink="biceps-triceps" class="btn btn-outline-warning">See data</a>
            </div>
          </div>
    </div>
</div>