.container{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card{
    width: 18rem;
    margin: 2%;
    padding: 0;
}

@media screen and (max-width: 1181px) and (min-width: 751px) {
    .row{
        padding-top: 0;
        margin: 12% 0% 3% 3%;
        padding-left: 10%;
        height: 100%;
    }
    .card{
        width: 80%;
    }
}

@media screen and (max-width: 750px) {
    .row{
        margin: 10% 0;
        height: 100%;
        padding-left: 0;
        padding-top: 10%;
        align-items:center;
    }
    .card{
        width: 100%;
    }
}

