.test{
    background-color:orange;
    color: rgb(46, 46, 46);
}

.card{
    width: 32.3%;
    padding: 0;
}

table{
    margin-bottom: 0;
    font-size: 0.75em;
}

.table-header{
    background-color: rgb(179, 179, 179);
    color: rgb(255, 255, 255);
}

td, th{
    border-right: 1px solid rgb(221, 220, 220);
}

@media screen and (max-width: 950px) {
    .card{
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .row{
        margin: 0;
        padding: 0;
    }
    .card{
        width: 100%;
    }
}