:root{
    --offcanvas-width: 50px;
    --topNavbarHeight: 56px;
}

.sidebar-nav{
    width: 250px;
}

@media (min-width: 992px){
    body{
        overflow: auto !important;
    }

    #layoutSidenav{
        margin-left: 250px;
    }

    .sidebar-nav{
        transform: none;
        visibility: visible !important;
        top: 56px;
        height: calc(100% - 56px);
    }
}