<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark d-flex justify-content-between px-3 fixed-top">
    <!-- offcanvas trigger -->
    <button 
    class=" btn" 
    type="button" 
    data-bs-toggle="offcanvas" 
    data-bs-target="#offcanvasExample" 
    aria-controls="offcanvasExample" 
    *ngIf="currentWindowWidth < 992">
        <span class="navbar-toggler-icon"></span>
      </button>
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3 fw-bold" href="index.html">
        <img src="assets/images/icon-2.png" alt="" style="width:30px">
        Fitness Tracker
    </a>
    <button *ngIf="user?.name" class="d-none d-lg-inline btn btn-dark">Hello {{ user?.name  }}</button>
    <button class="btn btn-dark" routerLink="/" (click)="onLogout()">Log out</button>
</nav>
<div class="sidebar">
    <div class="offcanvas offcanvas-start sidebar-nav bg-dark text-white" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-body p-0 my-2">
        <nav class="navbar-dark">
        <ul class="navbar-nav my-5">
            <li>
                <div class="text-muted small fw-bold text-uppercase px-4">
                    Core
                </div>
            </li>
            <li>
                <a href="#" class="nav-link px-4">
                    <span>
                        Dashboard
                    </span>
                </a>
            </li>
            <li class="my-2">
                <hr>
            </li>
            <li>
                <div class="text-muted small fw-bold text-uppercase px-4">
                    Core
                </div>
            </li>
            <li>
                <a href="#" class="nav-link px-4">
                    <span>
                        Dashboard
                    </span>
                </a>
            </li>
            <li class="my-2">
                <hr>
            </li>
            <li>
                <div class="text-muted small fw-bold text-uppercase px-4">
                    Core
                </div>
            </li>
            <li>
                <a href="#" class="nav-link px-4">
                    <span>
                        Dashboard
                    </span>
                </a>
            </li>
            <li class="my-2">
                <hr>
            </li>
        </ul>
        </nav>
    </div>
    </div>
</div>
<div id="layoutSidenav"> 
    <app-training-watcher></app-training-watcher>
</div>